
body {
  background-color: #1e1e1e; 
  color: #e5e5e5; /* Default text color */
  font-family: 'Roboto Mono', monospace; 
}

.test {
  display: flex;
  background-color: #1e1e1e;
}

#typing {
  border-radius: 5px;
  font-size: 30px;
  border: 1px solid #fff;
  box-shadow: 1px 1px 1px #999;
  color: #e5e5e5;
  background-color: #1e1e1e;
}
