
body {
  background-color: #1e1e1e; 
  color: #e5e5e5; /* Default text color */
  font-family: 'Roboto Mono', monospace; 
}

.test {
  display: flex;
  background-color: #1e1e1e;
  justify-content: center;
}

#typing {
  border-radius: 5px;
  font-size: 30px;
  border: 1px solid #fff;
  box-shadow: 1px 1px 1px #999;
  color: #e5e5e5;
  background-color: #1e1e1e;
}

/* Styles for correct, incorrect, and remaining characters */
.correct {
  color: #e5e5e5; /* Light gray for correct characters */
}

.incorrect {
  color: #ff4444; /* Red for incorrect characters */
}

.remaining {
  color: #888; /* Gray for remaining characters */
}
